h3 {
    color: #ffffff;
}
body {
    background: linear-gradient(145deg, #f0f0f0, #e6e6e6);
}
/* CSS FORM */
.form {
    width: 400px;
    background-color: #006747;
    position: absolute;
    position: left;
    top: 50%;
    left: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: linear-gradient(145deg, #456939, #004e36);
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    color: white;
}

form input::placeholder{
    color:white;
}
.form-select{
    background: none;
}
form input[type="text"],
form input[type="password"],
form input[type="email"]{
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #ccc;
    padding-left: 10px;
    margin: 10px 0;
}
#limparURL{
    font-weight: bold;
    width: 100%;
    height: 40px;
    background: #a81010e3;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


form input[type="submit"]{
    font-weight: bold;
    width: 100%;
    height: 40px;
    background: #0c945de3;
    border: none;
    color: white;
    cursor: pointer;
}

form label{
    font-weight: bold;
    text-align: left;

}
form input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
form input[type="color"]::-webkit-color-swatch{
    border-radius:10px;
    border: none;
}
form input[type="color"]::-moz-color-swatch{
    border-radius: 10px;
    border: none;
}
/* CSS TABELA */

.tabela {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 600px;
    max-height: 400px;
    table-layout: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 242, 242);
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77);
    border-radius: 5px;
}

.tabela .cabecalho {
    position: sticky;
    height: 50px;
    top: 0;
    color: white;
    background-color: rgb(74, 122, 74);
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
}

.tabela table tr th {
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .25px;
    text-align: left;
    padding: 0 10px;
}

.tabela table tr.item td {
    border-bottom: 1px solid #c8ccc8;
    padding: 0 10px;
}

.tabela table tr.item {
    height: 60px;
}

.tabela table tr td {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.tabela::-webkit-scrollbar {
    width: 0.4vw;
}

.tabela::-webkit-scrollbar-track {
    background-color: transparent;
}

.tabela::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.tabela::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#color-box {
    right: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

/* CSS POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-conteudo {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.fotoSelect{
    max-width: 120px;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #006747;
    position: absolute;
    position: left;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #456939, #004e36);
}

@media screen and (max-width: 1030px) {
    .form{
        width: 350px;
    }
    .tabela{
        width: 500px;
    }
    .fotoSelect{
        left: 5%;
    }

}