.loginPanel{
    background-color: rgba(145, 145, 145, 0.4);
    position: absolute; 
    position: left;
    top: 50%;
    left: 50%;  
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 39px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  26px 26px 14px #929292, -26px -26px 14px #ffffff;
}
